body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.7;
    box-sizing: border-box;
  }
  h2, h3, h4, h5, p {
    text-align: center;
  }
  header {
    position: sticky;
    top: 0px;
    background-color: black;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    height: 69px;
  }
  #logo {
    height: 50px;
  }
  @media only screen and (max-width: 550px) {
    #logo {
      height: 40px;
    }
    #navigation {
      font-size: 12px;
      padding: 0 5px;
      }
  }
  #navigation li{
    display: inline-block;
    text-decoration: underline;
    padding:0 10px;
  }
  main {
    margin: 0 50px;
  }
  #banner {
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mission {
    background-color: black;
    width: 1200px;
  }
  #featured-tea {
    max-width: 1000px;
    margin: 40px auto;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image-item h4 {
    margin-top: 10px;
  }
  .image-item img {
    height: 200px;
    width: 300px;
  }
  #locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  #locations h2 {
    margin-bottom: 15px;
    width: 100%;
  }
  #addresses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  #addresses div {
    background-color: black;
    width: 300px;
    margin: 0 20px;
  }
  footer div {
    height: 200px;
  }
  footer div h2 {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  #copyright {
    text-align: left;
    margin-left: 20px;
  }